

        <section id="details-page">
    <div class="main_card">
        <div class="card_left">
            <div class="card-details">

                <h1>{{ride.model}}</h1>
                <h3>Posted by: {{authorName}}</h3>

                <div class="card-specs">
                    <p class="card-manufacturer">Manufacturer: {{ride.manufacturer}}</p>
                    <p class="card-engine">Engine Type: {{ride.engine}}</p>
                    <p class="card-top-speed">Top Speed: {{ride.topSpeed}} kmph</p>
                </div>

                <p class="disc">
                    Description: {{ride.description}}
                </p>

                {{#if isAuthenticated}}
                <!-- If there is no registered user, do not display buttons-->
                <div class="social-btn">
                    <!-- Only for registered user and author of the post -->
                    {{#if isOwner}}
                    <a href="/rides/{{ride.id}}/edit" class="edit-btn">Edit</a>
                    <a href="/rides/{{ride.id}}/delete" class="del-btn">Delete</a>
                   
                    {{else if isLiked}}
                      <!-- logged in user who has already liked-->
                    <p class="you-liked">Thanks For The Like</p>
                    {{else}}
                     <!-- logged in users, who have not yet liked-->
                    <a href="/rides/{{ride.id}}/like" class="like-btn">Like</a>
                    {{/if}}
                  
                </div>
                {{/if}}

            </div>
        </div>
        <div class="card_right">
            <img src="{{ride.image}}" alt="ride.model">
        </div>
    </div>
</section>

<section id="likes">
    <div class="like-info">
        <div class="card_left">
            <div class="card-details">
                <h1>Likes</h1>
                <div class="card-like">
                    <!-- Show the rating of likes, if there are no likes yet, the number must be 0. -->
                    <p class="PV">Total likes: {{totalLikes}}</p>
                </div>
                {{#if hasLikes}}
                <p class="disc">People who liked the post - {{peopleLikedEmails}}</p>
                {{else}}
                <p class="disc">People who liked the post - No one has liked yet.</p>
                {{/if}}
 <!-- If there are already people who have cast their like for the post, separate their emails with a comma and a space ", " -->
                     
            </div>
        </div>
    </div>
</section>

        